.image {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: var(--s1-size);
  line-height: var(--s1-line-height);
  margin-top: 10px;
}

.imageContainer {
  width: var(--main-width);
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .imageContainer {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
  }
}
