.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-basic-400);
}

.container {
  width: 680px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}

.navItem {
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  color: var(--color-basic-900);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
